<div class="user-block">
  <h2 class="user-block_heading"></h2>

     <h2>
       <%= link_to(user.username, user_path(user)) %></h2>

     <p>
      <a href="mailto:someone@example.com?Subject=Helllo%20again"><%= %></a>
     </p>

     <p> <%= time_ago_in_words(user.created_at) %> </p>

   </div>
