<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= @user.username %>

   <p>Click here to delete account:
     <%= link_to('Delete Acccount', user_path(@user), method: :delete) %>
   </p>
