<%= page_heading('Users#show') %>

<p>Find me in app/views/users/show.html.erb</p>

<%= render 'user',user: @user %>

   <p>Click here to delete account:
     <%= link_to('Delete Acccount', user_path(@user), method: :delete) %>
   </p>
